:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #181927;
  background: linear-gradient(10deg, #4e3545 0%, #242037 50%, #181927 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

/* CSS HEX
--steel-gray: #2a2437;
--santas-gray: #a8a4b8;
--falcon: #755f6c;
--mulled-wine: #4e4d72;
--mulled-wine: #483d5a;
--matterhorn: #4e3545;
--waterloo-: #8182a1;
--bali-hai: #8d9aad;
--abbey: #545c63;


$steel-gray: #2a2437;
$santas-gray: #a8a4b8;
$falcon: #755f6c;
$mulled-wine: #4e4d72;
$mulled-wine: #483d5a;
$matterhorn: #4e3545;
$waterloo-: #8182a1;
$bali-hai: #8d9aad;
$abbey: #545c63;


--steel-gray: rgba(42,36,55,1);
--santas-gray: rgba(168,164,184,1);
--falcon: rgba(117,95,108,1);
--mulled-wine: rgba(78,77,114,1);
--mulled-wine: rgba(72,61,90,1);
--matterhorn: rgba(78,53,69,1);
--waterloo-: rgba(129,130,161,1);
--bali-hai: rgba(141,154,173,1);
--abbey: rgba(84,92,99,1); */
