@import url('https://fonts.googleapis.com/css2?family=Abel&family=Michroma&family=Poppins:wght@100;300;400&display=swap');

:root {
	scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
	scrollbar-width: thin;

	font-family: Abel, sans-serif;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1.5;
	color: rgba(255, 255, 255, 0.87);
	text-rendering: optimizeLegibility;

	color-scheme: light dark;
	background: linear-gradient(10deg, #4e3545 0%, #242037 50%, #181927 100%);
	background-color: #181927;

	font-synthesis: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Michroma', sans-serif;
	font-weight: 400;
}

body {
	min-height: 100vh;
	margin: 0;
	padding: 0;
}

/* CSS HEX
--steel-gray: #2a2437;
--santas-gray: #a8a4b8;
--falcon: #755f6c;
--mulled-wine: #4e4d72;
--mulled-wine: #483d5a;
--matterhorn: #4e3545;
--waterloo-: #8182a1;
--bali-hai: #8d9aad;
--abbey: #545c63;


$steel-gray: #2a2437;
$santas-gray: #a8a4b8;
$falcon: #755f6c;
$mulled-wine: #4e4d72;
$mulled-wine: #483d5a;
$matterhorn: #4e3545;
$waterloo-: #8182a1;
$bali-hai: #8d9aad;
$abbey: #545c63;


--steel-gray: rgba(42,36,55,1);
--santas-gray: rgba(168,164,184,1);
--falcon: rgba(117,95,108,1);
--mulled-wine: rgba(78,77,114,1);
--mulled-wine: rgba(72,61,90,1);
--matterhorn: rgba(78,53,69,1);
--waterloo-: rgba(129,130,161,1);
--bali-hai: rgba(141,154,173,1);
--abbey: rgba(84,92,99,1); */
